

.Coordinate-label {
  display: block;
  padding: 0px;
}

.Coordinate-button {
  display: block;
  padding: 5px;
  margin: 5px;
}

.White-button {
  top: -227px;
  left: 570px;
  position: relative
}

.Black-button {
  top: -227px;
  left: 575px;
  position: relative
}

.Instructions-label {
  top: -400px;
  left: 400px;
  position: relative;
}

.YourPlayer-label {
  top: -321px;
  left: 181px;
  position: relative;
}

.Gameboard {
  padding: 10px;
}

/* taken from facebook's tic tac to react tutorial */
.Square-button {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.Square-button:focus {
  outline: none;
}

.Source-button {
  border: 2px solid red;
}

.piece {
  width: 27px;
}

/* taken from facebook's tic tac to react tutorial */
.row-div:after {
  clear: both;
  content: "";
  display: table;
}

.Submit-button {
  display: block;
  padding: 5px;
}

.Game-div {
  padding: 25px;
}

